.layout-wrapper:not(.layout-body) {
  box-sizing: border-box;
  padding: 5px 3px;
}

.layout-wrapper {
  position: relative;
  padding: 0 3px;

  &.layout-nav::before,
  &.layout-nav::after {
    content: "";
    position: absolute;
    top: 0;
    width: 30px; /* 흐려지는 영역 너비 */
    height: 100%;
    z-index: 1; /* 내용 위에 올라오도록 설정 */
    pointer-events: none; /* 클릭 방지 */
  }

  &.layout-nav::before {
    left: 0;
    background: linear-gradient(to right, white, transparent);
  }
  
  &.layout-nav::after {
    right: 0;
    background: linear-gradient(to left, white, transparent);
  }
}


.no-scroll {
  -ms-overflow-style: none; /* IE와 Edge에서 스크롤 바 숨기기 */
  scrollbar-width: none; /* Firefox에서 스크롤 바 숨기기 */
}
.no-scroll::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 엣지에서 스크롤 바 숨기기 */
}


.item-slot {
  width: 50px;
  height: 50px;
}